@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("/mojave.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #171e31;
}
